.credere-slider {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 400px;
  padding: 0;
  margin: 0;
  > .slide {
    position: absolute;
    width: 100%;
    list-style: none;
    > .radio {
      display: none;
      &:checked ~ .label {
        display: block;
        right: 15px;
        + .-previous {
          right: 120px;
        }
      }
      &:checked ~ .credere-card {
        opacity: 1;
        visibility: visible;
        z-index: 99;
      }
    }
    > .label {
      display: none;
      position: absolute;
      background-color: $primary-color;
      padding: 0.75em 1.25em;
      right: 15px;
      bottom: 15px;
      font-weight: bold;
      color: $zero-color;
      cursor: pointer;
      z-index: 10;
      box-shadow: 0 3px $secondary-color;
      transition: background-color 200ms linear;

      &.-previous {
        color: $secondary-color;
        background-color: $zero-color;
        right: 120px;
        box-shadow: 0 3px rgba($secondary-color, 0.6);

        &:hover {
          background-color: lighten($secondary-color, 30);
        }
        &:active {
          background-color: lighten($secondary-color, 30);
          box-shadow: 0 2px rgba($secondary-color, 0.6);
          transform: translateY(3px);
        }
      }
      &::selection {
        background: transparent;
      }
      &::-moz-selection {
        background: transparent;
      }
      &:hover {
        background-color: darken($primary-color, 5);
      }
      &:active {
        background-color: darken($primary-color, 5);
        box-shadow: 0 2px $secondary-color;
        transform: translateY(3px);
      }
    }
  }
}

@media (min-width: 600px) {
  .credere-slider {
    display: block;
    position: relative;
    max-width: 600px;
    width: 100vw;
    max-height: 400px;
    height: 66vw;
    margin: auto;
    margin-top: 20px;
    padding: 0;
  }
}
